@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700|Source+Sans+Pro:400,700&display=swap");

:root {
  --color-muted: rgba(255, 255, 255, 0.33);
  --color-strong: rgba(255, 255, 255, 1);
}

body {
  font-family: "Source Sans Pro", sans-serif !important;
  font-size: 2em !important;
}

blockcode,
code,
pre,
.remark-code,
.remark-inline-code {
  font-family: "Source Code Pro", monospace;
}

.remark-slide-content {
  background-color: #000;
  color: rgba(255, 255, 255, 0.9);
  font-size: 1em;
  padding: 1rem 4rem 1rem 4rem;
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  align-items: center;
  justify-content: center;

  h1,
  h2,
  h3 {
    color: #ff0050;
  }

  table {
    border-collapse: collapse;
  }

  tbody tr {
    border-bottom: 1px solid var(--color-muted);
  }

  thead tr {
    border-bottom: 1px solid var(--color-strong);
  }

  td,
  th {
    padding: 0.5ex 0.5em;
  }

  td:first-of-type,
  th:first-of-type {
    padding-left: 0;
  }

  td:last-of-type,
  th:first-of-type {
    padding-right: 0;
  }
}

.remark-code {
  font-size: 0.75em;
}

.large-font {
  font-size: 2rem;
}
